/* @media only screen and (max-width: 1200px){
}
@media only screen and (max-width: 992px){
    :root{
        font-size: 14px;
    }
}
@media only screen and (max-width: 768px){
    :root{
        font-size: 12px;
    }
}
@media only screen and (max-width: 576px){
    :root{
        font-size: 10px;
    }
} */
/* @media only screen and (max-width: 576px){
} */